.info {
  display: block;
  margin: 2em 0 2em 0;
}

.list {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 100%;
}

.info p {
  font-size: 0.9em;
}

/* important */
.list {
  display: flex;
  flex: 0 0 calc(50% - 15px);
  text-align: left;
  align-items: center;
  max-width: calc(50% - 15px);
  flex-wrap: wrap;
}

p, label {
  margin-bottom: 0;
}

label {
  padding: 0 10px 0 3px;
}

.tech-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #F7F7F7;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #323743;
  border-radius: 4px;
  padding: 0.5em;
  justify-content: space-between;
}

.tech-container h3 {
  margin-bottom: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.skil-box {
  display: flex;
  align-items: center;
  border: 1px solid #323743;
  border-radius: 4px;
  padding: 0.2em;
}

.devicon-netlify-plain {
  font-size: 36px;
  color: #323743;
}

.devicons {
  font-size: 36px;
  color: #323743;
}

.langchain {
  width: 50px;
  height: 30px;
  /* font-size: 36px; */
  background: url('../svg_icon/icon.svg') no-repeat center center;
  background-size: contain;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 2em 0 2em 0;
  gap: 1em;
}

li {
  list-style: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 2em;
}

.left-img, .center-img, .right-img {
  width: calc(100% / 3);
}

.mobile-imgs {
  display: flex;
  width: 100%;
  }

.base-container {
  position: relative;
  /* width: 100%; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: .5s ease;
}

.overlay.style1 {
  background-color: #efa8b0;
}

.overlay.style2 {
  background-color: #c79cc8;
}

.overlay.style3 {
  background-color: #a89cc8;
}

.overlay.style4 {
  background-color: #9bb2e1;
}

.base-container:hover .overlay {
  opacity: 1;
}

.inner-content {
  padding: 20px;
}

.left-img {
  border-radius: 12px 0 0 12px;
}

.right-img {
  border-radius: 0 12px 12px 0;
}

.app-img {
  border-radius: 12px;
}

.shake-btn {
    position: relative;
    animation-name: shakeAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }

@keyframes shakeAnim {
  0% {
    left: 0
  }
  10% {
    left: -3px
  }
  20% {
    left: 3px
  }
  30% {
    left: -8px
  }
  40% {
    left: 8px
  }
  50% {
    left: -5px
  }
  60% {
    left: 3px
  }
  70% {
    left: 0
  }
}


@media screen and (min-width: 680px) {
  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 0 2em 0;
  }

  .mobile-imgs {
    width: 80%;
    margin: 0 auto
  }

  .app-img {
    width: 80%;
  }

  .base-container {
    display: block;
    max-width: 100%;
    margin: 0px auto;
  }

  .overlay {
    display: block;
    max-width: 80%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 900px) {
  .mobile-imgs {
    width: 80%;
  }

  .app-img {
    width: 80%;
  }

  .base-container {
    max-width: 80%;
  }
}

/* @media screen and (min-width: 1000px) { */
@media screen and (min-width: 1300px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .base-container {
    width: calc(50% - 15px);
    margin: 0;
  }

  /* base-container -> parent, so width should be set to 100% */
  .app-img {
    width: 100%;
  }

  .mobile-imgs {
    width: 100%;
  }


  .overlay {
    /* display: inline; */
    max-width: 100%;
    padding: 0;
  }
}
